<!DOCTYPE html> <html>  
  <head>   
    <title>{{ page.title }}</title>   
    <!-- link to main stylesheet -->   
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/metro-bootstrap/3.1.1.2/css/metro-bootstrap.min.css">  
  </head>  
  <body>
    <nav>       
      <a href="/">Home</a>
    </nav>   
    <div class="container">
      {{ content }}      
    </div><!-- /.container -->   
    <footer>       
      <a href="http://linkedin.com/in/michaelwalkerprofile">LinkedIn</a> | <a href="https://github.com/mwportfolio/">Github</a> 
      
    </footer>  
  </body> 
</html>
